/*=============默认结构============*/
@charset "utf-8";
@import url(index_base.css);/*全局公共基础样式*/
@import url(index_module.css);/*模块结构样式*/
@import url(index_forms.css);/*表单表格样式*/
@import url(index_page.css);/*特殊页面样式*/
/*=============默认结构============*/
/*=========无左边导航情况=========*/
#mainDiv{
	_padding-left:5px;
}
#leftDiv{	
	display:none;
}
#mainDiv>#rightDiv{
	left:5px;
}
#bodyDiv {
	_padding-top:100px;
}
#headDiv{
	height:100px;
}
#bodyDiv>#mainDiv {
	top:100px;
}